{% extends "layout.html" %}

{% block title %}
    Sell Stocks
{% endblock %}


{% block main %}
    <form action="/sell" method="post">
    <select name="symbol" class="form-control mx-auto w-auto mb-3">
        <option value="" disabled selected>Symbol</option>
        {% for stock in portfolio %}
            <option value="{{ stock.stock_symbol }}">{{ stock.stock_symbol }}</option>
        {% endfor %}
    </select>
    <input class="form-control mx-auto w-auto mb-3" autocomplete="off" name="shares" placeholder="Shares" type="text">
    <button class="btn btn-primary" type="submit">Sell</button>
</form>

{% endblock %}
